* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("../../fonts/Rubik/Rubik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.subtitle-noprojects {
  font-family: "rubik";
  cursor: default;
}
