@media (min-width: 1024px) {
}

@mixin planEditorTexto {
  margin: 0 auto;
  width: 100%;
  height: 97%;
}

.plantilla-editor {
  @include planEditorTexto();
}

.plantilla-body-editor {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 7% 96.1%;
  grid-template-columns: 20% 80%;
  width: 100%;
  height: 100%;
}

.container-fluid {
  grid-area: aside;
  transition: transform 0.3s ease;
}

.header-editor {
  grid-area: header;
}
