<<<<<<< HEAD
a {
  text-decoration: none;
  font-style: none;
  color: inherit;
}
=======
a {
  text-decoration: none;
  font-style: none;
  color: inherit;
}
>>>>>>> 1223f99ee06a0a92a5bd8f2f92bd5b31e4eb6a13
