@font-face {
  font-family: "rubik";
  src: url("../../../../public/fonts/Rubik/Rubik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  font-family: "rubik";
  font-size: 16px;
}

.nav-link{
  display: block;
  box-sizing: border-box;
  color: #FFFF !important;
  font-weight: 400;
  width: fit-content;
  height: 20px;
  &:hover{
    color: rgb(248, 249, 170);
  }
}