@font-face {
  font-family: "rubik";
  src: url("../../../../public/fonts/Rubik/Rubik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  font-family: "rubik";
  font-size: 16px;
}
