<<<<<<< HEAD
@mixin nav-item() {
  width: 100%;
  align-items: center;
  margin-top: 0;
}

@mixin nav-link() {
  gap: 0.7rem;
  display: flex;
  align-items: center;
  padding: 0;
  word-wrap: break-word;
  white-space: nowrap;
  padding-left: 6px;
  border-radius: 0 !important;
}
=======
@mixin nav-item() {
  width: 100%;
  align-items: center;
  margin-top: 0;
}

@mixin nav-link() {
  gap: 0.7rem;
  display: flex;
  align-items: center;
  padding: 0;
  word-wrap: break-word;
  white-space: nowrap;
  padding-left: 6px;
  border-radius: 0 !important;
}
>>>>>>> 1223f99ee06a0a92a5bd8f2f92bd5b31e4eb6a13
