<<<<<<< HEAD
@import "templatesSidebar";

#newFolderInp {
  width: 100%;
  background-color: #5e5e5f;
  outline: none;
  border: none;
  color: azure;
}

.nav-item {
  @include nav-item();
}
.nav-link {
  @include nav-link();
}
=======
@import "templatesSidebar";

#newFolderInp {
  width: 100%;
  background-color: #5e5e5f;
  outline: none;
  border: none;
  color: azure;
}

.nav-item {
  @include nav-item();
}
.nav-link {
  @include nav-link();
}
>>>>>>> 1223f99ee06a0a92a5bd8f2f92bd5b31e4eb6a13
