@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#editor {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05) !important;
  width: 48%;
  height: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  outline-style: none;
  resize: none;
  text-transform: initial;
  grid-area: main;
  padding: 24px;
  user-select: text;
  margin: 6% auto 0 10%;
  top: 14%;
  color: #f0f0f0;
  left: 25%;
  font-size: 1.3rem;
}

#editor input{
  display: none;
}


.stylesEditor {
  font-family: "Poppins";
  color: rgb(59, 59, 59);
  font-size: 1.8rem;
  font-weight: normal;
  font-style: normal;
}

.ql-container {
  background: transparent !important;
  border: none !important;
}

.ql-editor {
  background: transparent !important;
  color: white !important;
  font-size: 1.2rem;
  min-height: 200px;
  border: none;
}

.ql-editor p {
  margin: 0 !important;
  padding: 0 !important;
}

.ql-editor:empty::before {
  content: '';
  display: block;
}

#toolbar {
  position: fixed;
  display: flex;
  gap: 2rem;
  width: 70%;
  height: 5.5%;
  padding: 10px;
  top: 10%;
  left: 24%;
  right: auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  align-items: center;
  border-left: none;
  z-index: 2;
}

.ql-toolbar button {
  color: white !important;
  border: none;
  background: transparent;
  margin: 0 4px;
}

.ql-toolbar button svg {
  fill: white !important; /* Cambia íconos vectoriales */
  color: #f0f0f0;
}

.ql-toolbar .ql-picker,
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: white !important;
}

.expand-toolbar {
  width: 100% !important;
  transform: translateX(-13.1%);
}

.expand-editor {
  left: 18% !important;
}

.ql-toolbar .ql-stroke {
  stroke: rgb(207, 207, 207) !important;
}

ql-toolbar button:hover .ql-fill,
.ql-toolbar button.ql-active .ql-fill {
  fill: #333 !important;
}

.ql-toolbar .ql-stroke,
.ql-toolbar .ql-fill {
  transition: all 0.2s ease-in-out;
}

.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button.ql-active .ql-stroke {
  stroke: #ffffff !important;
}

.ql-toolbar button:hover .ql-fill,
.ql-toolbar button.ql-active .ql-fill {
  fill: #ffffff !important;
}